<!DOCTYPE html>
<html lang="en">
<head>
    <title>Service Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
</head>
<body>
	
	<div th:replace= "fragments/header :: header"></div>
    
		
	<div class= "container-fluid">
		<div class='content-wrapper'>
    <div class='row'>
      <div class= "col-md-4"></div>
      <div class='col-xs-12 col-sm-12 col-md-8 col-lg-8'>
      <h1><span th:text="${appName}" th:align="center">Eamonns Service App</span> </h1>
        <form method= "post" class='navbar-form'>
          <div class='input-group'>
          	<span class="input-group-btn">
          		<select class="form-control" name="type" id="type">
        			<option class="dropdown-item" value= "service">Service History</option>
        			<option class="dropdown-item" value= "mot">MOT Details</option>
        			<option class="dropdown-item" value= insurance>Insurance Quote</option>
        			<option class="dropdown-item" value= breakdown>Breakdown Cover</option>
        			<option class="dropdown-item" value= garages>Local Garages</option>
      			</select>
          	</span>
            <input class='form-control' type='text' name='search' placeholder='Search' />
            <span class="input-group-btn">
              <button type='submit' class='btn btn-default'>
                <span class='glyphicon glyphicon-search'></span>
              </button>
            </span>
            <div class='col-xs-12 col-sm-12 col-md-4 col-lg-4'>
        		
      		</div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
	<div th:insert="fragments/footer :: footer" th:align= "center">&copy; 2017 Service Application</div>		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>